
.teamContainer{
    padding-top: 5rem;
}
.topContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
}

.downContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}   
.heading{
    text-align: center;
    padding-bottom: 4rem;

}
.lowerText{
    padding-top: 1rem;
}