.container{
    /* margin-top: 300px; */
    margin-left: 10rem;
}
.information{
     margin-top: 12rem;
     margin-left: 10rem;
}
.personInfo{
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     margin-bottom: 10px;
}
.supercontainer{
    margin-left: 25px;
}
.title{
    font-weight: bold;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: portrait) {
    .container{
        /* margin-top: 300px; */
        margin-left: 1rem;
    }
    .information{
         margin-top: 5rem;
         margin-left: 1rem;
    }
    .personInfo{
         margin-top: 20px;
         display: flex;
         flex-direction: column;
         margin-bottom: 10px;
    }
    .supercontainer{
        margin-left: 25px;
    }
    .title{
        font-weight: bold;
    }
}